// colors //

:root{
    --clr-primary: #db887b;
    --clr-primary-dark:#c5685a;
    --clr-grey-900:#111827;
    --clr-grey-500:#6b7280;
    --clr-grey-400:#9ca3af;
    --clr-grey-200:#e5e7eb;


--box-shadow-md: 0 0.5rem 1rem rgba(0,0,0,0.15);



//Spacing//@at-root
--ps-xs:0.25rem;
--sp-sm: 0.5rem;
--sp-md:1rem;
--sp-lg: 1.5rem;
--sp-xl: 2rem;
--sp-2x1:3rem;
--sp-3x1:4rem;

////////////////////////////nav-bar//////////////////////////////
--nav-bar-height:55px;
--border-radius:5px;


/////////////////////////fonts/////////////////


--fs-xxl: 4rem; //64px//
--fs-xl: 2rem;  //32px//
--fs-lg: 1.5rem; //24px//
--fs-md: 1.125rem; //18px//
--fs-sm: 1rem; //16px//
--fs-xm: 0.875rem;

////////////////////weights/////////////////
--fw-reg: 400;
--fw-md: 500;
--fw-bold: 700;

}