{% extends 'layout.html' %}

{% block content%}

    <div class="container">
        <h1 class="text-center">Add Post</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class=flashes>
          {% for category, message in messages %}
            <div class=" alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
          </div>
        {% endif %}
{% endwith %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">

                <form action="" class="form-group p-5" method="POST" enctype="multipart/form-data" >
                    <label for="">Title</label>
                    <input type="text" name="title" id="title" class="form-control mt-2" placeholder="Enter your post title" value="{{post.title}}" required>

                    <label for="content">Content</label>
                    <textarea name="content" class="forn-control" rows="10" cols="83">{{post.body}}</textarea>

                    <a href="{{url_for('static', filename='/assets/images/'+ post.image)}}">{{url_for('static', filename='/assets/images/'+ post.image)}}</a>
                    <input type="file" name="photo"  class="form-control mt-2"  required>
                    <input type="submit" value="Add post" class="btn btn-info mt-2">
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>

    {% endblock content%}