{% extends 'base.html' %}

{% block content %}

    <main class="main container">
  <!----------------------------------------slider area------------------------------------------------->
      
 <!----------------------------------------blog grids------------------------------------------------->
      <div class="main-grid">
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class=flashes>
            {% for category, message in messages %}
              <div class=" alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
          {% endwith %} 
            
            
            <article class="blog-item">
              <div class="">
                  
                <h1 id="contact-me">Contact Me</h1>
                  <img
                    src="{{url_for('static', filename='/assets/images/contact-me.jpg')}}"
                    
                    alt="blog item"
                    class="blog-item__image contact-image"
                    width="900" height="300"
                />

                
              </div>
         </article>
         <div class="form-container">
            <form name="sendemil" id="my-form" action="https://formspree.io/f/xzbojkbo" method="POST">
              
              <input type="text" id="name" name="firstname" placeholder="Name*" required>
          
                <input type="email" id="email" name="email" width="100%" placeholder="email address*" required>  
          
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>
                <div class="button-holder">
              <input type="submit" value="Submit">
        
            </div>
            <p id="my-form-status"></p>
            </form>
          </div>

          

        </div>
        <script>
          var form = document.getElementById("my-form");
          
          async function handleSubmit(event) {
            event.preventDefault();
            var status = document.getElementById("my-form-status");
            var data = new FormData(event.target);
            fetch(event.target.action, {
              method: form.method,
              body: data,
              headers: {
                  'Accept': 'application/json'
              }
            }).then(response => {
              if (response.ok) {
                status.innerHTML = "Thanks for your submission!";
                form.reset()
              } else {
                response.json().then(data => {
                  if (Object.hasOwn(data, 'errors')) {
                    status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                  } else {
                    status.innerHTML = "Oops! There was a problem submitting your form"
                  }
                })
              }
            }).catch(error => {
              status.innerHTML = "Oops! There was a problem submitting your form"
            });
          }
          form.addEventListener("submit", handleSubmit)
      </script>
      <!----------------------------------------side bar------------------------------------------------->
         {% endblock content %}      