{% extends 'base.html' %}

{% block content %}

    <main class="main container">
  <!----------------------------------------slider area------------------------------------------------->
      <div class="hero">
        <div class="swiper-container hero__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="slider-item">
                <img
                  src="{{url_for('static', filename='/assets/images/slider-2.jpg')}}"
                  alt="slider item"
                  class="slider-item__img"
                />
                <div class="slider-item__overlay"></div>
                <div class="slider-item__content">
                    <h2 class="title">
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="slider-item">
                <img
                  src="{{url_for('static', filename='/assets/images/slider-3.jpg')}}"
                  alt="slider item"
                  class="slider-item__img"
                />
                <div class="slider-item__overlay"></div>
                <div class="slider-item__content"></div>
                
              </article>
            </div>
            <div class="swiper-slide">
              <article class="slider-item">
                <img
                  src="{{url_for('static', filename='/assets/images/slider-4.jpg')}}"
                  alt="slider item"
                  class="slider-item__img"
                />
                <div class="slider-item__overlay"></div>
                <div class="slider-item__content">
                </div>
              </article>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
 <!----------------------------------------blog grids------------------------------------------------->
      <div class="main-grid">
        <div>
          <div class="blogs-grid">
        {% for post in posts%}
            <article class="blog-item">
              <div class="image-wrapper">
                <a href="#"
                  ><img
                    src="{{url_for('static', filename='/assets/images/'+post.image)}}"
                    alt="blog item"
                    class="blog-item__image"
                /></a>

                <span class="tag tag--primary"><a href="#">featured</a></span>
              </div>
              <div class="content-wrapper">
                <ul class="categories">
                  <li><a href="#">Explore</a></li>
                  <li><a href="#">Lifestyle</a></li>
                </ul>

                <h2 class="title">
                  <a href="#">{{ post.title }}</a>
                </h2>

                <div class="meta"><p>{{ post.author.name }} {{ post.pub_date.strftime ('%Y %B, %d')}}</p></div>

                <p class="excerpt">
                  {{ post.body | truncate (100,True) }}
                </p>

                <div>
                  <a href="#" class="read-more">continue reading...</a>
                </div>
              </div>
            </article>
        {% endfor %}
            
            
          </div>

        </div>
 <!----------------------------------------side bar------------------------------------------------->

 {% endblock content %}