{% extends 'base.html' %}
{% block title %}
        Travel
      {% endblock %}

{% block content %}
<style>

</style>
<div class="gallery-container">
    <div class="gallery-heading">
        <h3> Bucket <span>List</span></h3>
    </div>
    <br>
<div class="box">
    <div class="dream image-wrapper blog-item__image">
        <img src="{{url_for('static', filename='/assets/images/gallery-1.jpg')}}">
        <img src="{{url_for('static', filename='/assets/images/gallery-2.jpg')}}">
        <img src="{{url_for('static', filename='/assets/images/gallery-3.jpg')}}">
    </div>
    <div class="dream dream image-wrapper blog-item__image">
        <img src="{{url_for('static', filename='/assets/images/gallery-4.jpg')}}">
        <img src="{{url_for('static', filename='/assets/images/gallery-5.jpg')}}">
        <img src="{{url_for('static', filename='/assets/images/gallery-6.jpg')}}">
    </div>
    <div class="dream dream image-wrapper blog-item__image">
        <img src="{{url_for('static', filename='/assets/images/gallery-7.jpg')}}">
        <img src="{{url_for('static', filename='/assets/images/gallery-8.jpg')}}">
        <img src="{{url_for('static', filename='/assets/images/gallery-9.jpg')}}">
    </div>
</div>
</div>



{% endblock content %}
